* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3B4664;
    height: 100vh;
}

.calculadora-contenedor {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    max-width: 26rem;
    height: 100%;
    max-height: fit-content;
    padding: 1rem;
}

.calculadora-opciones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.calculadora-opciones h1 {
    font-size: 1.4rem;
    color: white;
}

.calculadora-colores {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 0.8rem;
}

.calculadora-slider-opciones {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.calculadora-numeros-opciones {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.2rem;
}

.calculadora-slider-panel {
    display: flex;
    background-color: #252D44;
    justify-content: space-between;
    align-items: center;
    height: 0.6rem;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.1rem;
    flex-flow: row nowrap;
    gap: 0.2rem;
}

.calculadora-punto-naranja {
    height: 0.4rem;
    width: 0.4rem;
    background-color: #D13F30;
    border-radius: 100px;
    border: none;
}

.calculadora-slider-botones {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}

.temaPrimario {
    visibility: visible;
}

.temaSecundario {
    visibility: visible;
}

.temaTerciario {
    visibility: visible;
}

.calculadora-panel-escritura {
    display: flex;
    background-color: #181F32;
    height: 100%;
    max-height: 6rem;
    border-radius: 0.4rem;
}

.calculadora-panel-escritura input {
    flex: 1;
    text-align: end;
    padding-top: 2.8rem;
    background-color: #181F32;
    border-radius: 0.4rem;
    color: white;
    border: none;
}

.calculadora-cuerpo {
    display: grid;
    grid-template-columns: repeat(auto, minmax(100px, 1fr));
    grid-template-rows: repeat(auto, minmax(100px, 1fr));
    grid-template-areas:
        "sigSiete sigOcho sigNueve sigDel"
        "sigCuatro sigCinco sigSeis sigMas"
        "sigUno sigDos sigTres sigMenos"
        "sigPunto sigCero sigDiv sigPor"
        "sigReset sigReset sigIgual sigIgual";
    gap: 0.4rem;
    height: fit-content;
    width: 100%;
    background-color: #252D44;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

.sigUno {
    grid-area: sigUno;
}

.sigDos {
    grid-area: sigDos;
}

.sigTres {
    grid-area: sigTres;
}

.sigCuatro {
    grid-area: sigCuatro;
}

.sigCinco {
    grid-area: sigCinco;
}

.sigSeis {
    grid-area: sigSeis;
}

.sigSiete {
    grid-area: sigSiete;
}

.sigOcho {
    grid-area: sigOcho;
}

.sigNueve {
    grid-area: sigNueve;
}

.sigCero {
    grid-area: sigCero;
}

.sigPunto {
    grid-area: sigPunto;
}

.sigDiv {
    grid-area: sigDiv;
}

.sigMas {
    grid-area: sigMas;
}

.sigMenos {
    grid-area: sigMenos;
}

.sigPor {
    grid-area: sigPor;
}

.botonesNumero {
    height: fit-content;
    cursor: pointer;
    padding: 1.2rem 0.4rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    background-color: #EAE3DB;
    border: none;
    border-bottom: 2px solid #B3A397;
    font-weight: 600;
    font-size: 1.2rem;
}

.botonesNumero:hover{
    transition: background-color 0.2s ease;
    background-color: rgb(214, 208, 204);
}

.sigDel {
    grid-area: sigDel;
    text-transform: uppercase;
    border: none;
    background-color: #647299;
    border-bottom: 2px solid #424E74;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.sigReset {
    grid-area: sigReset;
    border: none;
    background-color: #647299;
    border-bottom: 2px solid #424E74;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.sigDel:hover, .sigReset:hover{
    background-color: #424E74;
    border-bottom: 2px solid #647299;
}

.sigIgual {
    grid-area: sigIgual;
    border: none;
    background-color: #D13F30;
    border-bottom: 2px solid #8F2316;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

.sigIgual:hover{
    border-bottom: 2px solid #D13F30;
    background-color: #8F2316;
}

.botonesNumero:active{
    outline: 1px solid beige;
}