* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* colores primarios */
.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora-contenedor {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    text-align: center;
    gap: 1rem;
    width: 100%;
    max-width: 26rem;
    height: 100%;
    max-height: fit-content;
    padding: 1rem;
}

#enable{
    font-size: 3rem;
    font-weight: 700;
    color: #35352D;
}

.calculadora-opciones {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.calculadora-opciones h1 {
    font-size: 1.4rem;
    color: white;
}

.calculadora-colores {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 0.8rem;
}

.calculadora-slider-opciones {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.calculadora-numeros-opciones {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.2rem;
}

.calculadora-slider-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.1rem;
    flex-flow: row nowrap;
    gap: 0.2rem;
}

.calculadora-punto-naranja {
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.calculadora-slider-botones {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
    width: 100%;
}

.calculadora-panel-escritura {
    display: flex;
    height: 100%;
    max-height: 6rem;
    border-radius: 0.4rem;
}

.calculadora-panel-escritura input {
    flex: 1;
    text-align: end;
    border-radius: 0.4rem;
    border: none;
    width: 100%;
    font-size: 2.8rem;
    font-weight: 700;
}

.calculadora-cuerpo {
    display: grid;
    grid-template-columns: repeat(auto, minmax(100px, 1fr));
    grid-template-rows: repeat(auto, minmax(100px, 1fr));
    grid-template-areas:
        "sigSiete sigOcho sigNueve sigDel"
        "sigCuatro sigCinco sigSeis sigMas"
        "sigUno sigDos sigTres sigMenos"
        "sigPunto sigCero sigDiv sigPor"
        "sigReset sigReset sigIgual sigIgual";
    gap: 0.4rem;
    height: fit-content;
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.4rem;
}

.sigUno {
    grid-area: sigUno;
}

.sigDos {
    grid-area: sigDos;
}

.sigTres {
    grid-area: sigTres;
}

.sigCuatro {
    grid-area: sigCuatro;
}

.sigCinco {
    grid-area: sigCinco;
}

.sigSeis {
    grid-area: sigSeis;
}

.sigSiete {
    grid-area: sigSiete;
}

.sigOcho {
    grid-area: sigOcho;
}

.sigNueve {
    grid-area: sigNueve;
}

.sigCero {
    grid-area: sigCero;
}

.sigPunto {
    grid-area: sigPunto;
}

.sigDiv {
    grid-area: sigDiv;
}

.sigMas {
    grid-area: sigMas;
}

.sigMenos {
    grid-area: sigMenos;
}

.sigPor {
    grid-area: sigPor;
}

.botonesNumero {
    height: fit-content;
    cursor: pointer;
    padding: 1.2rem 0.4rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: none;
    font-weight: 700;
    font-size: 1.4rem;
}

.sigDel {
    grid-area: sigDel;
    text-transform: uppercase;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}

.sigReset {
    grid-area: sigReset;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}

.sigIgual {
    grid-area: sigIgual;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}


.botonesNumero:active {
    outline: 1px solid beige;
}